body {
    margin: 0;
    background: #374765;
}
@font-face{
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot');
    src: url('../fonts/Arimo-Regular.eot?iefix') format('eot'),
    url('../fonts/Arimo-Regular.woff') format('woff'),
    url('../fonts/Arimo-Regular.ttf') format('truetype'),
    url('../fonts/Arimo-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
   font-family: 'MyWebFont';
    src: url('../fonts/Arimo-Italic.eot');
    src: url('../fonts/Arimo-Italic.eot?iefix') format('eot'),
    url('../fonts/Arimo-Italic.woff') format('woff'),
    url('../fonts/Arimo-Italic.ttf') format('truetype'),
    url('../fonts/Arimo-Italic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'MyWebFont';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?iefix') format('eot'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype'),
    url('../fonts/Arimo-Bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'MyWebFont';
    src: url('../fonts/Arimo-BoldItalic.eot');
    src: url('../fonts/Arimo-BoldItalic.eot?iefix') format('eot'),
    url('../fonts/Arimo-BoldItalic.woff') format('woff'),
    url('../fonts/Arimo-BoldItalic.ttf') format('truetype'),
    url('../fonts/Arimo-BoldItalic.svg#webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}


.container {
    text-transform: uppercase;
    width: 1192px;
    height: 680px;
    margin: 10px auto;
}

table {
    width: 1192px;
    height: 680px;
    border-collapse: collapse;
}
tr td{
    border:1px solid rgba(0,0,0,0.1)
}

thead tr:nth-child(1) td:nth-child(1) {
    background-color: #fafafa;
    width: 310px;
    height: 70px;
    color: #484848;
}

thead tr {
    font-family: Arimo, sans-serif;
    color: #484848;
    font-weight: 700;
    line-height: 0;
    text-align: center;
}

thead tr:nth-child(1) td:nth-child(1) p:nth-child(1) {
    font-size: 18px;
}

thead tr:nth-child(1) td:nth-child(1) p:nth-child(2) {
    font-size: 30px;
    line-height: 0;
}

thead tr:nth-child(1) td {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

thead tr:nth-child(2) {
    width: 277px;
    height: 86px;
    background: #fafafa;
}

thead tr:nth-child(1) td:nth-child(2) {
    background-color: #89c331;
    width: 277px;
    height: 70px;
}

thead tr:nth-child(1) td:nth-child(3) {
    background-color: #f04a56;
    width: 277px;
    height: 71px;
}

thead tr:nth-child(1) td:nth-child(4) {
    background-color: #20807c;
    width: 277px;
    height: 70px;
}

thead tr:nth-child(2) td {
    position: relative;
}

thead tr:nth-child(2) td p:nth-child(1) {
    position: absolute;
    top: 40px;
    left: 33px;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 0;
 }

thead tr:nth-child(2) td p:nth-child(2) {
    position: absolute;
    top: 5px;
    left: 131px;
    font-size: 24px;
 font-weight: 700;
    line-height: 0;
}

thead tr:nth-child(2) td p:nth-child(3) {
    position: absolute;
    top: 36px;
    left: 131px;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;

}

tbody tr th span {
    padding-left: 7px;

}

tbody {
    color: #484848;

}
tbody tr th{
    border:1px solid rgba(0,0,0,0.1)
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #e3e3e3;
}

tfoot tr td:nth-child(1) {
    background-color: #dddddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
    width: 310px;
    height: 110px;
}

tfoot tr td {
    margin: 0;
    text-align: center;
    background-color: #eeeeee;
}

tfoot tr td:nth-child(1) div {
    margin-left: 52px;
}

tfoot tr td div {
    border-radius: 5px;
    width: 192px;
    height: 49px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}

tfoot tr td div p {
    font-family: Arimo, sans-serif;
    color: #ffffff;
    font-size: 16px;
/ font-weight: 700;
    line-height: 28px;
    padding-top: 10px;
    margin: 0;
}
tfoot tr td {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}
tfoot tr td:nth-child(1) div {
    background-color: #484848;
}
tfoot tr td div:hover{
    transform: rotate(30grad);
}
tfoot tr td:nth-child(2) div {
    background-color: #89c331;
    margin-left: 47px;
}

tfoot tr td:nth-child(3) div {
    background-color: #f04a56;
    margin-left: 47px;
}

tfoot tr td:nth-child(4) div {
    background-color: #20807c;
    margin-left: 47px;
}